@import "reset";
body {
    font-family: "Noto Sans KR", sans-serif;
}

.bk__header-wrap {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    backdrop-filter: blur(10px);
    &.on {
        background-color: #fff;
        .bk__header-inner {
            .bk__nav-wrap {
                .bk__nav {
                    .bk__nav-menu {
                        > a {
                            color: #222;
                        }
                    }
                }
            }
        }
    }
    .bk__header-inner {
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bk__header-logo {
            width: 20%;
            height: 100%;
            a {
                display: block;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                img {
                    height: 50%;
                    object-fit: cover;
                    position: relative;
                    left: -10px;
                }
            }
        }
        .bk__nav-wrap {
            width: 80%;
            height: 100%;
            .bk__nav {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .bk__nav-menu {
                    display: inline-block;
                    padding: 30px 40px;
                    font-size: 1.2rem;
                    font-weight: 500;
                    position: relative;
                    > a {
                        color: #fff;
                        transition: color 0.2s ease-in-out;
                        &:hover {
                            transition: color 0.2s ease-in-out;
                            color: rgb(228, 160, 76);
                        }
                    }
                }
                .bk__nav__list {
                    position: absolute;
                    left: 50%;
                    top: 115%;
                    transform: translateX(-50%);
                    display: none;
                    .bk__nav__list-text {
                        padding: 10px 0;
                        font-weight: 300;
                        font-size: 1rem;
                        letter-spacing: 1px;
                        > a {
                            color: #222;
                            position: relative;
                            &::before {
                                position: absolute;
                                content: "";
                                display: block;
                                width: 0%;
                                height: 1px;
                                transition: width 0.5s ease-in-out;
                                left: 0;
                                bottom: -4px;
                                background-color: rgb(228, 160, 76);
                            }
                            &:hover {
                                &::before {
                                    width: 100%;
                                    background-color: rgb(228, 160, 76);
                                    transition: width 0.5s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bk__nav__block-wrap {
        width: 100%;
        height: 13rem;
        background-color: #fff;
        display: none;
    }
}

.bk__main-wrap {
    width: 100%;
    .bk__main-contents {
        width: 100%;
        .swiper {
            width: 100%;
            height: 100vh;
            position: relative;
            .swiper-wrapper {
                .swiper__text-wrap {
                    position: absolute;
                    color: #fff;
                    top: 30%;
                    left: 20%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    z-index: 10;
                    .swiper__text-title {
                        font-size: 3.875rem;
                        font-weight: 400;
                        padding-bottom: 2rem;
                    }
                    .swiper__text-content {
                        font-size: 1.28rem;
                        font-weight: 300;
                        line-height: 1.8rem;
                        &.sub-title {
                            font-size: 1.5rem;
                            font-weight: 500;
                            position: relative;
                            padding-bottom: 0.5rem;
                            &::before {
                                content: "";
                                position: absolute;
                                display: block;
                                width: 25px;
                                height: 2.8px;
                                border-radius: 30px;
                                background-color: #fff;
                                top: 40%;
                                left: -40px;
                            }
                        }
                    }
                }
                .swiper-slide {
                    opacity: 0.8;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    &.bg1 {
                        background-image: url(../../images/background/bg1.jpg);
                    }
                    &.bg2 {
                        background-image: url(../../images/background/bg2.jpg);
                    }
                    &.bg3 {
                        background-image: url(../../images/background/bg3.jpg);
                    }
                }
            }
            .swiper-button-next {
                color: #fff;
                right: 100px;
            }
            .swiper-button-prev {
                color: #fff;
                left: 100px;
            }
        }
        .swiper-container {
            .project-wrap {
                height: 600px;
                .project-img {
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    &.bg--1 {
                        background-image: url(../../images/background/mj_banner3.jpg);
                    }
                    .project-img--info {
                        position: absolute;
                        width: 45%;
                        height: 400px;
                        top: 40%;
                        right: -5rem;
                        background: linear-gradient(135deg, #45a6e6 0%, #165193 70%, #165193 100%);
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        color: #fff;
                        padding: 4rem 2rem;
                        .project-img--title {
                            font-size: 3rem;
                            font-weight: 500;
                            padding-bottom: 3rem;
                        }
                        .project-img--text {
                            font-size: 1.2rem;
                            font-weight: 300;
                            line-height: 1.8rem;
                        }
                        .project-img--btn {
                            background-color: transparent;
                            color: #fff;
                            font-size: 1.2rem;
                            align-items: flex-end;
                            border: none;
                            outline: none;
                            margin-top: auto;
                            align-self: flex-end;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .bk__contents {
            padding: 90px 0;
            &:last-child {
                padding-bottom: 0;
            }
            .bk__contents-inner {
                max-width: 1200px;
                margin: 0 auto;
                &.bk__contents-inner--news {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 2rem;
                }
                .bk__contents-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .contents__header-title {
                        font-size: 48px;
                        font-weight: 400;
                        position: relative;
                        .contents__header-subtitle {
                            font-size: 15px;
                            color: #45a6e6;
                            position: absolute;
                            left: 0;
                            top: 120%;
                        }
                    }
                    .contents__header-more {
                        display: block;
                        width: 170px;
                        height: 50px;
                        background-color: #fff;
                        border: 1px solid #45a6e6;
                        font-size: 1rem;
                        color: #222;
                        font-weight: 400;
                        cursor: pointer;
                        &:hover {
                            background: linear-gradient(to right, #45a5e6 0%, #165293 84%);
                            color: #fff;
                        }
                    }
                }
            }
            .bk__contents-cover {
                padding-top: 6rem;
                .bk__contents--title {
                    font-size: 35px;
                    font-weight: 400;
                    padding-bottom: 2rem;
                }
                .bk__contents--text {
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 35px;
                    padding-bottom: 6rem;
                }
                .bk__contents--icons {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    .icons-wrap {
                        width: calc(100% / 6);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;
                        color: #222;
                        font-size: 1.1rem;
                        font-weight: 300;
                        .icon {
                            display: inline-block;
                            width: 70%;
                            height: 100px;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            &.icon--1 {
                                background-image: url(../../images/icons/icon_bs1.png);
                            }
                        }
                    }
                }

                .project-wrap {
                    padding-bottom: 70px;
                    padding-right: 60px;
                    .project-img {
                    }
                }
            }
        }
        .bk__contents--bgGray {
            background-color: #f2f2f2;
            height: 450px;
            margin-top: 7rem;
            .bk__news-wrap {
                position: relative;
                height: 400px;
                top: -6rem;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                .bk__news--img {
                    width: 100%;
                    height: 60%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    &.img--1 {
                        background-image: url(../../images/background/eq1.jpg);
                    }
                }
                .bk__news__text-wrap {
                    height: 40%;
                    padding: 40px 20px;
                    .bk__news-title {
                        font-size: 1.5rem;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

.bk__footer-wrap {
    background-color: #222;
    color: #777;
    padding: 45px 0;
    .bk__footer-inner {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        .bk__header-logo {
            width: 20%;
            > a {
                display: block;
                width: 100%;
                height: 100%;
                img {
                    object-fit: cover;
                    width: 45%;
                }
            }
        }
        .bk__footer-contents {
            width: 80%;
            padding-left: 5rem;
            .bk__footer-text {
                width: fit-content;
                display: block;
                margin-bottom: 1rem;
                &:first-child {
                    color: #fff;
                    font-size: 1.2rem;
                    font-weight: 300;
                }
            }
        }
    }
}
